<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
{% seo %}
<link rel="icon" href="{{ '/assets/img/wix/3f36b8_91f81c2159db4be389f8478d36882097.png' | relative_url }}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Fahkwang:wght@500;600;700&family=Questrial&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{{ '/assets/css/site.css' | relative_url }}">
