<div class="sms-consent">
  <label class="sms-check"><input type="checkbox" name="sms_consent" value="Yes - agreed to receive text messages"> <span>Yes, I agree to receive text messages from People's Empowerment PAC.</span></label>
  <p>By providing your phone number, you are consenting to informational messages, recurring marketing messages, fundraising, donations may be solicited, on-demand reply to messages TEXTS to that number from People's Empowerment PAC. We will provide alerts and other important information. Msg &amp; data rates may apply. Msg frequency will vary. Reply HELP for help, STOP to end. <a href="{{ '/terms' | relative_url }}">Terms &amp; Conditions</a>. <a href="{{ '/privacy' | relative_url }}">Privacy Policy</a>.</p>
</div>
